  $sidebar-width: var(--sidebar-width);
  $navbar-height: var(--navbar-height);
  $sidebar-logo-section-height: var(--sidebar-logo-section-height);
  $sidebar-background: var(--dark);
  $secondary: #0b102b;