@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "overwrite";
@import "base";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    font-family:  var(--bs-font-sans-serif);
    scrollbar-width: thin !important;
    //scrollbar-color: $secondary $light-grey !important;
}

body{
    height: 100vh !important;
    width: 100% !important;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

@function set-color($color) {
    @if (lightness($color) > 70) {
      @return #000;
    }
    @else {
      @return #FFF;
    }
}

.sidebar{
    width: $sidebar-width;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 10;
    background-color: $sidebar-background;
    color: set-color(#212529) !important;
}

.navbar{
    width: 100%;
    height: $navbar-height;
}

.layout-body{
    width: calc(100% - $sidebar-width);
    min-height: 100vh;
    margin-left: $sidebar-width;
}

.sidebar-logo-section{
    width: 100%;
    height: $sidebar-logo-section-height;
}

.p-dropdown-items{
    background-color: $sidebar-background;
}