<div class="d-flex justify-content-start align-items-end flex-wrap">
  <div class="pr-3 d-flex flex-column align-items-start justify-content-end pt-2 pb-0">
    <small>Segmento</small>
    <p-dropdown appendTo="body" [(ngModel)]="segment" placeholder="Seleccione un Segmento" [filter]="false" styleClass="border-bottom m-0 p-0"
      [style]="{'min-width': '120px', 'border': '0px', 'height': '34px'}"
      [options]="segmentos" (onChange)="onSegmentChange($event)">
    </p-dropdown>
  </div>
  <div class="pr-3 d-flex flex-column align-items-start justify-content-end pt-2 pb-0">
    <small>Grupo</small>
    <p-dropdown appendTo="body" [(ngModel)]="group" placeholder="Seleccione un Grupo" [filter]="true" styleClass="border-bottom m-0 p-0"
      [style]="{'min-width': '120px', 'border': '0px', 'height': '34px'}"
      [options]="grupos" (onChange)="onGroupChange($event)">
    </p-dropdown>
  </div>
  <div class="pr-3 d-flex flex-column align-items-start justify-content-end pt-2 pb-0">
    <small>Cliente</small>
    <p-dropdown appendTo="body" [(ngModel)]="client" placeholder="Seleccione un Cliente" optionLabel="label" [filter]="true" styleClass="border-bottom m-0 p-0"
      [style]="{'min-width': '120px', 'border': '0px', 'height': '34px'}"
      [options]="clientes" (onChange)="onClientChange($event.value)">
    </p-dropdown>
  </div>  
</div>