<div class="w-100">
    <ul *ngIf="items" class="p-0 m-0">
        <p class="fs-4">{{items.label}}</p>
        <li *ngFor="let item of (items.items || [])">
            <a *ngIf="!item.items" [routerLink]="item.routerLink" class="cpointer">{{item.label}}</a>
            <div *ngIf="item.items">
                <app-list-item *ngFor="let item of item.items" [items]="item"></app-list-item>
            </div>
        </li>
    </ul>
</div>