<div class="row m-0">
    <div class="col-12 pb-3">
        <app-dashbords-filters (onSegmentSelect)="segment = $event" (onGroupSelect)="group = $event" (onClientSelect)="client = $event;getChartData()"></app-dashbords-filters>
    </div>
    <div class="col-12 row m-0 pb-3 d-flex justify-content-start align-items-start">
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">SEGMENTO</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.SEGMENTO || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">GRUPO ECONÓMICO</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.GRUPO_ECONOMICO || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">RIF</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.RIF_CEDULA || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">NOMBRE CLIENTE</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.NOMBRE_CLIENTE || '') | uppercase}}</h6>
        </div>        
    </div>
    <div class="col-12 text-center bg-secondary">
        <h1 class="m-0 py-2 font-weight-bolder">Pasivos y Créditos</h1>
    </div>
</div>
<div *ngIf="client.RIF_CEDULA" class="row m-0 p-2">
    <div class="col-12 col-lg-7 p-2 m-0">
        <div class="p-2 rounded-lg bg-secondary shadow h-100">
            <app-pareto chartId="pc" class="h-100" [value]="chartData" [series]="series" categoryText="Crédito"></app-pareto>
        </div>
    </div>
    <div class="col-12 col-lg-5 p-0 row m-0">
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center h-100">
                <h1 class="m-0 font-weight-bolder"><i style="font-size: 1.5rem" [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{2395 | random: 1000:3000:client | number: '1.0-0'}}%</h1>
                <h6 class="m-0 pt-2 text-light text-uppercase">{{'CRECIMIENTO ANUAL MONTO ABONADO' | uppercase}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center h-100">
                <h1 class="m-0 font-weight-bolder"><i style="font-size: 1.5rem" [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{1423 | random: 400:1423:client | number: '1.0-0'}}%</h1>
                <h6 class="m-0 pt-2 text-light lh-sm text-uppercase">{{'CRECIMIENTO ANUAL' | uppercase}}</h6>
                <h6 class="m-0 pt-2 text-light lh-sm">{{'Saldo Promedio'}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center h-100">
                <h1 class="m-0 font-weight-bolder"><i style="font-size: 1.5rem" [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{8.54 | random: 5:10:client | number: '1.0-2'}}</h1>
                <h6 class="m-0 pt-2 text-light lh-sm">{{'Monto Otorgado Acumulado'}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center h-100">
                <h1 class="m-0 font-weight-bolder"><i style="font-size: 1.5rem" [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{6.16 | random: 2:9:client | number: '1.0-2'}}</h1>
                <h6 class="m-0 pt-2 text-light lh-sm">{{'Cartera Crédito'}}</h6>
            </div>
        </div>
        <div class="col-12 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center d-flex m-0">
                <div class="d-flex flex-wrap align-items-center w-50">
                    <h6 class="m-0 w-50 text-light lh-sm">{{'Reciprocidad'}}</h6>                    
                    <h1 class="m-0 w-50 font-weight-bolder">
                        {{194 | random: 95:200:client | number: '1.0-0'}}%
                    </h1>                    
                    <h6 class="m-0 w-50 text-light lh-sm">{{'Reciprocidad del Segmento'}}</h6>                    
                    <h1 class="m-0 w-50 font-weight-bolder">
                        {{60 | random: 25:95:client | number: '1.0-0'}}%
                    </h1>                    
                </div>
                <div class="w-50">
                    <app-gauge [value]="(0 | random: 25:95:client)" chartId="g1"></app-gauge>
                </div>
            </div>
        </div>        
    </div>
</div>
