<app-sidebar title="Hola Mundo"></app-sidebar>
<div class="layout-body bg-dark text-light">
    <app-navbar></app-navbar>
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
</div>