<div class="row m-0">
    <div class="col-12 pb-3">
        <app-dashbords-filters (onSegmentSelect)="segment = $event" (onGroupSelect)="group = $event"
            (onClientSelect)="client = $event;getChartData()"></app-dashbords-filters>
    </div>
    <div class="col-12 row m-0 pb-3 d-flex justify-content-start align-items-start">
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">SEGMENTO</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.SEGMENTO || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">GRUPO ECONÓMICO</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.GRUPO_ECONOMICO || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">RIF</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.RIF_CEDULA || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">NOMBRE CLIENTE</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.NOMBRE_CLIENTE || '') | uppercase}}</h6>
        </div>
    </div>
</div>
<div *ngIf="client.RIF_CEDULA" class="row m-0 p-2">
    <div class="col-12 col-lg-6 row m-0 p-0" style="height: fit-content;">
        <div class="col-12 text-center" style="height: fit-content;">
            <h1 class="mb-1 pb-2 font-weight-bolder">Depósitos en Divisas</h1>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center">
                <h1 class="m-0 font-weight-bolder"><i
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                    | random: 1000000:4000000:client | currency:'USD':'symbol': '1.0-0'}}</h1>
                <h6 class="m-0 pt-2 text-light">{{'Promedio último 3 Meses'}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center">
                <h1 class="m-0 font-weight-bolder"><i
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                    | random: 500000:1000000:client | currency:'EUR':'symbol': '1.0-0'}}</h1>
                <h6 class="m-0 pt-2 text-light">{{'Promedio último 3 Meses'}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center">
                <h1 class="m-0 font-weight-bolder"><i
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                    | random: 3000000:9999999:client | currency:'USD':'symbol': '1.0-0'}}</h1>
                <h6 class="m-0 pt-2 text-light">{{'Acumulado del Año'}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center">
                <h1 class="m-0 font-weight-bolder"><i
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                    | random: 3000000:4999999 | currency:'EUR':'symbol': '1.0-0'}}</h1>
                <h6 class="m-0 pt-2 text-light">{{'Acumulado del Año'}}</h6>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 row m-0 p-0" style="height: fit-content;">
        <div class="col-12 text-center" style="height: fit-content;">
            <h1 class="mb-1 pb-2 font-weight-bolder">Compras en Divisas</h1>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center">
                <h1 class="m-0 font-weight-bolder"><i
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                    | random: 3000000:9999999:client | currency:'USD':'symbol': '1.0-0'}}</h1>
                <h6 class="m-0 pt-2 text-light">{{'Acumulado del Año'}}</h6>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center">
                <h1 class="m-0 font-weight-bolder"><i
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                    | random: 3000000:4999999:client | currency:'EUR':'symbol': '1.0-0'}}</h1>
                <h6 class="m-0 pt-2 text-light">{{'Acumulado del Año'}}</h6>
            </div>
        </div>
        <div class="col-12 p-0 row m-0 d-flex justify-content-center align-items-start">
            <div class="col-12 text-center">
                <h1 class="m-0 py-2 font-weight-bolder">Convenio 20</h1>
            </div>
            <div class="col-6 p-2">
                <div class="p-3 rounded-lg bg-secondary shadow text-center">
                    <h1 class="m-0 font-weight-bolder">{{0 | random: 0:0 | currency:'USD':'symbol': '1.0-0'}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-2">
        <div class="p-3 rounded-lg bg-secondary shadow">
            <div class="d-flex justify-content-around align-items-center" style="height: fit-content;">
                <h1 class="m-0 py-3 px-4 font-weight-bolder cpointer rounded-lg" (click)="type = 'deposits';getChartData()" [ngClass]="{ 'border border-primary': type == 'deposits' }">Depósitos en Divisas</h1>
                <h1 class="m-0 py-3 px-4 font-weight-bolder cpointer rounded-lg" (click)="type = 'buys';getChartData()" [ngClass]="{ 'border border-primary': type == 'buys' }">Compras en Divisas</h1>
            </div>
            <app-bar chartId="dc" [value]="chartData" [series]="chartSeries"></app-bar>
        </div>
    </div>
</div>