<div class="row m-0">
    <div class="col-12 pb-3">
        <app-dashbords-filters (onSegmentSelect)="segment = $event" (onGroupSelect)="group = $event"
            (onClientSelect)="client = $event;getChartData()"></app-dashbords-filters>
    </div>
    <div class="col-12 row m-0 pb-3 d-flex justify-content-start align-items-start">
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">SEGMENTO</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.SEGMENTO || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">GRUPO ECONÓMICO</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.GRUPO_ECONOMICO || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">RIF</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.RIF_CEDULA || '') | uppercase}}</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center py-2">
            <h6 class="m-0 text-light text-uppercase">NOMBRE CLIENTE</h6>
            <h6 class="m-0 text-danger text-uppercase">{{(client.NOMBRE_CLIENTE || '') | uppercase}}</h6>
        </div>
    </div>
    <div class="col-12 text-center bg-secondary">
        <h1 class="m-0 py-2 font-weight-bolder">Productos Vinculados</h1>
    </div>
</div>
<div *ngIf="client.RIF_CEDULA" class="row m-0 p-2">
    <div class="col-12 col-lg-7 p-2 m-0" style="height: fit-content;">
        <div class="text-center" style="height: fit-content;">
            <h1 class="mb-1 pb-2 font-weight-bolder">Ingresos por Comisión Anual</h1>
        </div>
        <div class="p-2 rounded-lg bg-secondary shadow">
            <app-bar chartId="ipa" [value]="chartData" [series]="chartSeries"></app-bar>
        </div>
    </div>
    <div class="col-12 col-lg-5 p-0 row m-0" style="height: fit-content;">
        <div class="col-12 p-0 text-center" style="height: fit-content;">
            <h1 class="mb-1 pt-2 font-weight-bolder">Productos Activos</h1>
        </div>
        <div *ngFor="let item of (client.PRODUCTOS_VINCULADOS || [])" class="col-6 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center h-100">
                <i style="font-size: 4rem;" class="pi"
                    [ngClass]="{'pi-check-circle text-success': item.ACTIVO, 'pi-circle-off text-danger': !item.ACTIVO}"></i>
                <h6 class="m-0 pt-2 text-light text-uppercase">{{item.PRODUCTO}}</h6>
            </div>
        </div>
    </div>
</div>
<div *ngIf="client.RIF_CEDULA" class="row m-0 py-2">
    <div class="col-12 text-center bg-secondary">
        <h1 class="m-0 py-2 font-weight-bolder">Ingresos por Comisión en el Mes</h1>
    </div>
    <div class="col-12 p-2 row m-0 d-flex justify-content-center">
        <div *ngFor="let item of (client.PRODUCTOS_VINCULADOS || [])" [ngClass]="{'d-none': !item.ACTIVO}"
            class="col-12 col-sm-4 col-lg-2 p-2">
            <div class="p-3 rounded-lg bg-secondary shadow text-center h-100">
                <h1 class="m-0 font-weight-bolder"><i style="font-size: 1.5rem"
                        [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{6.16
                    | random: 2:9:client | number: '1.0-2'}}</h1>
                <h6 class="m-0 pt-2 text-light text-uppercase">{{item.PRODUCTO}}</h6>
            </div>
        </div>
    </div>
</div>
<div *ngIf="client.RIF_CEDULA" class="row m-0 py-2">
    <div class="col-12 text-center bg-secondary">
        <h1 class="m-0 py-2 font-weight-bolder">Pago Proveedores</h1>
    </div>
    <div class="col-12 p-2">
        <div class="row m-0">
            <div class="col-12 row m-0 col-lg-8 p-0">
                <div class="col-12 col-lg-6 row m-0 p-0" style="height: fit-content;">
                    <div class="col-12 p-0">
                        <div class="p-2 text-center">
                            <h2 class="m-0 py-3 px-4 font-weight-bolder cpointer rounded-lg" (click)="type = 'volumen';getChartData()" [ngClass]="{ 'border border-primary': type == 'volumen' }">Volumen</h2>
                        </div>
                    </div>
                    <div class="col-6 p-2">
                        <div class="p-3 rounded-lg bg-secondary shadow text-center">
                            <h1 class="m-0 font-weight-bolder"><i
                                    [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                                | random: 0.05:1:client | number: '1.0-3'}}</h1>
                            <h6 class="m-0 pt-2 text-light">{{'Enero'}}</h6>
                        </div>
                    </div>
                    <div class="col-6 p-2">
                        <div class="p-3 rounded-lg bg-secondary shadow text-center">
                            <h1 class="m-0 font-weight-bolder"><i
                                    [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                                | random: 0.05:1:client | number: '1.0-3'}}</h1>
                            <h6 class="m-0 pt-2 text-light">{{'Diciembre'}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 row m-0 p-0" style="height: fit-content;">
                    <div class="col-12 p-0">
                        <div class="p-2 text-center">
                            <h2 class="m-0 py-3 px-4 font-weight-bolder cpointer rounded-lg" (click)="type = 'number';getChartData()" [ngClass]="{ 'border border-primary': type == 'number' }">N. de Beneficiarios</h2>
                        </div>
                    </div>
                    <div class="col-6 p-2">
                        <div class="p-3 rounded-lg bg-secondary shadow text-center">
                            <h1 class="m-0 font-weight-bolder"><i
                                    [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                                | random: 3:60:client | number: '1.0-0'}}</h1>
                            <h6 class="m-0 pt-2 text-light">{{'Enero'}}</h6>
                        </div>
                    </div>
                    <div class="col-6 p-2">
                        <div class="p-3 rounded-lg bg-secondary shadow text-center">
                            <h1 class="m-0 font-weight-bolder"><i
                                    [ngClass]="{'pi pi-arrow-down mr-1 text-danger':false, 'pi pi-arrow-up mr-1 text-success': true}"></i>{{0
                                | random: 100:500:client | number: '1.0-0'}}</h1>
                            <h6 class="m-0 pt-2 text-light">{{'Diciembre'}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <div class="p-2 rounded-lg bg-secondary shadow">
                        <app-variance chartId="pp" [value]="chartData2"></app-variance>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 row m-0" style="height: fit-content;">
                <div class="col-12 p-2 text-center">
                    <h2 class="m-0 py-3 font-weight-bolder">Retención BDV</h2>
                </div>
                <div class="col-12 p-2">
                    <div class="p-3 rounded-lg bg-secondary shadow text-center">
                        <h6 class="m-0 text-light lh-sm">Enero</h6>
                        <app-gauge [value]="(0 | random: 70:100:client)" chartId="g6"></app-gauge>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <div class="p-3 rounded-lg bg-secondary shadow text-center">
                        <h6 class="m-0 text-light lh-sm">Diciembre</h6>
                        <app-gauge [value]="(0 | random: 5:57:client)" chartId="g7"></app-gauge>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>